.map {
  width: 100%;
  height: 100%;
  border: solid 2px red;
}

#canvas1 {
  width: 100%;
  height: 100%;
  
  position: relative;
  top: 0;
  left: 0;
}

#canvas2 {
  width: 100%;
  height: 100%;
  
  position: relative;
  top: 0;
  left: 0;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: green;
  position: absolute;
}