.page {
  height: 100vh;
  width: 100vw;

  /* background-color: #ffc0cb; */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  color: black;
  font-size: 115%;

  display: flex;
  flex-direction: column;
}

.title {
  height: 7%;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-color: #d291bc;

  font-size: 190%;
  font-weight: bold;
  font-family: '仿宋';
}

.top {
  height: 55%;
  width: 100%;

  display: flex;
  flex-direction: row;
}

.bottom {
  height: 38%;
  width: 100%;

  display: flex;
  flex-direction: row;
}

.line {
  height: 0.1%;
  width: 100%;

  margin-top: -0.8%;

  border: solid #ffc0cb 1.5px;
}

.logo {
  position: absolute;
  left: 1.5%;
  top: -0.2%;

  width: 4.3%;
}

.slogan {
  position: absolute;
  left: 5%;

  width: 17%;
}
