.page {
  height: 100vh;
  width: 100vw;
  
  color: black;
  font-size: 115%;

  display: flex;
  flex-direction: column;
}

.page::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* background-color: #ffc0cb; */
  background-size: cover;
  background-image: url(https://pigkiller-011955-1319328397.cos.ap-beijing.myqcloud.com/img/202403242231200.png);
  opacity: 0.5;
  z-index: -1;

  color: black;
}

.title {
  height: 7%;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  /* background-color: #d291bc; */
  background-size: cover;
  background-image: url(https://pigkiller-011955-1319328397.cos.ap-beijing.myqcloud.com/img/202403242255621.jpg);

  font-size: 190%;
  font-weight: bold;
  font-family: '仿宋';
}

.top {
  height: 55%;
  width: 100%;

  display: flex;
  flex-direction: row;
}

.bottom {
  height: 38%;
  width: 100%;

  display: flex;
  flex-direction: row;
}

.line {
  height: 0.1%;
  width: 100%;

  margin-top: -0.8%;

  border: solid #ffc0cb 1.5px;
}

.logo {
  position: absolute;
  left: 1.5%;
  top: -0.2%;

  width: 4.3%;
}

.slogan {
  position: absolute;
  right: 7.5%;

  width: 17%;
}
