@import 'base.css';

#app {
    margin: 0;
    font-weight: normal;
}

@media
(min-width: 0px) {
    body {
        display: flex;
        flex-direction: row;
        place-items: center;
    }

    #app {
        grid-template-columns: 1fr;
        padding: 0;
    }
}
